.navbar{
  margin-top:20px;
}
#login-dropdown-list .btn{
  padding:6px;
}
#main-content{
  background: none repeat scroll 0 0 #F2F2F2;
  min-height:800px;
  margin-top: -20px;
  border-radius: 4px;
}
.stats-plain li{
  border: 2px solid grey;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 150px;
}
