<template name="layout">
  <body data-color="grey" class="flat">
    <div id="wrapper">
      {{> header}}
    </div>
    <div id="main-content" class = "row">
    {{> dc}}
      {{#if policy}}
      {{> mainPolicy}}
      <div class="row">
        {{> charts}}
      </div>
      <div class="row" style=" margin-top: 110px;">
        {{> table}}
      </div>
      {{else}}
      <h1 class= "no-policy">No policy have been created to display statistics</h1>
      {{/if}}
    </div>
  </body>
</template>
