<template name="mainPolicy">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box widget-plain">
        <div class="widget-content center">
          <ul class="stats-plain">
            <li>										
              <h4>{{singleTripCount}}</h4>
              <span>Single trip</span>
            </li>
            <li>										
              <h4>{{annualTripCount}}</h4>
              <span>Annual Trip</span>
            </li>
            <li>										
              <h4>{{backPackerCount}}</h4>
              <span>Backpacker</span>
            </li>
            <li>
              <h4>{{golfCount}}</h4>
              <span>Golf</span>
            </li>
            <li>										
              <h4>{{golfAnnualCount}}</h4>
              <span>Golf</span>
            </li>
            <li>
              <h4>{{winterSportsCount}}</h4>
              <span>Winter Sports</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
