<template name="mainPolicy">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box widget-plain">
        <div class="widget-content center">
          <ul class="stats-plain">
            <li>										
              <h4>36094</h4>
              <span>Single trip</span>
            </li>
            <li>										
              <h4>1433</h4>
              <span>Annual Trip</span>
            </li>
            <li>										
              <h4>8650</h4>
              <span>Backpacker</span>
            </li>
            <li>										
              <h4>29</h4>
              <span>Golf</span>
            </li>
            <li>
              <h4>123</h4>
              <span>Winter Sports</span>
            </li>
            <li>
              <h4>13423</h4>
              <span>Winter Sports</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
