<template name="table">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>
      <tr>
        <th>Trip Type</th>
        <th>Destination</th>
        <th>From</th>
        <th>To</th>
        <th>Cover For</th>
        <th>Package Type</th>
        <th>Quote Id</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
        {{#each policy}}
      <tr class="odd gradeX">
        <td>{{purchased_cover.trip_type}}</td>
        <td>{{purchased_cover.destination}}</td>
        <td>{{purchased_cover.departure_date}}</td>
        <td>{{prettifyDate timestamp}}</td>
        <td>{{purchased_cover.cover_for}}</td>
        <td>{{purchased_cover.package_type}}</td>
        <td>{{main.policy_id}}</td>
        <td>$ {{main.total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
