<template name="table">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>
      <tr>
        <th>Trip Type</th>
        <th>Destination</th>
        <th>From</th>
        <th>To</th>
        <th>Cover For</th>
        <th>No of Travellers</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd gradeX">
        <td>Single Trip</td>
        <td>Worldwide inc USA, Canada & The Caribbean</td>
        <td>12-02-2012</td>
        <td class="center"> 13-02-2012</td>
        <td class="center">Individual</td>
        <td>1</td>
        <td>22</td>
      </tr>
    </tbody>
  </table>
</template>
